
.superInput {
    display: flex;
    align-items: center;
    height: 30px;
    width: 300px;
    outline: none;
    border-radius: 30px;
    font-size: 16px;
    padding: 10px 10px 10px 20px;
    text-overflow: ellipsis;
}

.superInput::placeholder {
    font-size: 14px;
    padding-left: 10px;
}

.superInput.dark {
    transition: 0.3s all;

}

.superInput.light {
    transition: 0.3s all;

}

.errorInput {
    border: 3px solid lightcoral;
    background: lightgrey;
    height: 25px;
    width: 200px;
    margin-bottom: 10px;
}

.error {
    color: lightgrey;
}


@media screen and (max-width: 500px) {
    .superInput {
        width: 280px;
    }
}